.global_header{
    display: flex;
    height: 80px;

    .header_logotype_untitled{
        display: flex;
        align-items: center;
        height: 80px;
    
        .logotype{
            width: 142px;
            height: 35px;
            flex-shrink: 0;
    
            margin: 0 0 0 45px;
        }

        @media(max-width: 700px){
            .logotype{
                margin-left: 15px;
            }
        }
        
        .button_untitled,
        .button_untitled_mobile{
            width: 30px;
            height: 30px;
    
            border: none;
            background-color: #0D0F14;
    
            margin-left: 38px;
    
            .untitled{
                width: 25px;
                height: 25px;
                flex-shrink: 0;
    
                margin: auto;
            }
        }

        .button_untitled{
            @media(max-width: 700px){
                display: none;
            }
        }

    
        .rectangle{
            width: 1px;
            height: 80px;
    
            margin-left: 44px;
    
            background-color: #2E3138;

            @media(max-width: 700px){
                display: none;
            }
        }
    }
    
    .header_menu_account{
        display: flex;
        justify-content: space-between;
        align-items: center;

        width: 100%;
        height: 80px;
    
        .menu_header{
            display: flex;

            justify-content: space-between;
            align-items: center;

            width: 350px;

            margin-left: 45px;

            a{
                font-size: 15px;
                font-weight: 500;
                line-height: 20px;
            }
        }

        .header_account{
            display: flex;

            justify-content: space-between;
            align-items: center;

            width: 305px;
            height: 40px;
            flex-shrink: 0;

            margin-right: 47px;

            .global_alert{
                display: flex;
                justify-content: center;
                position: relative;
                align-items: center;

                width: 40px;
                height: 40px;

                border: solid 0.5px transparent;
                border-radius: 50%;

                background: #171A22;

                &:before {
                    content: '';
                    position: absolute;
                    top: 0; right: 0; bottom: 0; left: 0;
                    z-index: -1;
                    margin: -2.5px;
                    border-radius: inherit;
                    background: linear-gradient(to bottom, rgb(0, 89, 255) 0%, #14171E 80%);
                }

                .alert_bell_image{
                    width: 26px;
                    height: 26px;
                }

                .ellips10{
                    position: absolute;
                    margin: 15.3px 8px 12.6px 22px;
                }
            }

            .button_untitled_mobile{
                @media (min-width: 700px) {
                    display: none;
                }
            }

            .image_wallet{
                display: flex;
                align-items: center;
                width: 205px;
                height: 40px;

                border-radius: 100px;

                background-color: #171A22;

                .image_account{
                    width: 40px;
                    height: 40px;
                    fill: conic-gradient(from 180deg at 50% 50.00%, #0075FF 0deg, #152338 360deg);
                }

                p{
                    padding: 0;
                    margin-left: 12px;
                    font-size: 15px;
                    font-weight: 400;
                }

                @media(max-width: 700px){
                    display: none;
                }
            }

            .button_group{
                .image_group{
                    width: 40px;
                    height: 40px;
                }

                @media(max-width: 700px){
                    display: none;
                }
            }
        }

        @media(max-width: 1080px){
            justify-content: end;
            .menu_header{
                display: none;
            }
        }

        @media(max-width: 700px){
            .logotype{
                margin: 0;
            }
            .header_account{
                width: 6em;
            }
        }
    }
}

.rectangle_bottom{
    display: flex;
    align-items: center;
    width: 100%;
    height: 1px;

    background-color: #2E3138;

    .active_page{
        width: 92px;
        height: 3px;
    
        margin-left: 496px;

        background-color: #0075ff;
        
        @media(max-width: 1080px){
            display: none;
        }
    }

}
